[2017-06-06 12:49] vhogemann opened #1 "SVGs not inlined when nested"
Hi,

I'm using this plugin along with Hot Module Reload, and when HMR re-emits the HTML the SVG are not getting inlined.

Any insight on what might be causing this problem?

[2017-06-06 17:17] theGC commented on #1
Can you provide any more info?

We have tested it with a number of HMR based projects and things work as expected, emitting the SVG inline each time. It sounds like something specific to your webpack config might be causing this but without a repo to test the build its difficult to say what.

[2017-06-07 06:56] vhogemann commented on #1
Indeed, it was not HMR.

The problem is that I was trying to nest the <img inline src=""> inside a div tag, and then it fails to be inlined. I wanted to do that to be able to apply a display:none style to it.

I thought that was HMR because every time I changed the source template, the svg failed to be inlined, but it turns out that if I put it anywhere else than at the very top of the <body> tag

[2017-06-07 10:06] theGC commented on #1
Ah ok, that's not something I've tested as yet. Will look to have a play and upload a fix as I can't think of any reason not to allow nesting the inlined assets.

[2017-06-15 19:33] lukeheath commented on #1
Thanks for sharing this plugin! I'm running into the same issue - SVGs can't be nested or the plugin won't replace them. I poked around a bit and it looks like an issue with the recursion in `getInlineImage()` but I haven't been successful in correcting yet.

[2017-08-23 04:29] zumwald commented on #1
@theGC @lukeheath - I looked into fixing, it turned in to less of a fix and more of a rewrite \_(-_-)_/

I kept going along that path, and my fork actually ditches the string manipulations for parse5 operations (less tricky index math, and iterates in O(1) rather than O(n)). Downside is parse5 refuses to serialize a broken html tree, for which there were tests for in the existing code - I wasn't s

[2017-08-23 05:25] theGC commented on #1
@zumwald thank you. I had a look at the PR yesterday and did notice it was quite a substantial bit of tweaking! :)

The broken html tests were for our companies specific needs - we require separate header and footer ejs files. Therefore we found that we didn't always have matching  opening / closing tags but still needed the plugin to process the SVGs.

I'll have a look over the PR today - my prio

[2017-08-23 10:46] theGC commented on #1
latest version (0.2.0) allows for nested SVGs

[2017-08-23 10:46] #1 closed

[2017-12-06 21:28] Rheisen opened #3 "Not converting to inline SVG"
I'm trying to use this to convert some svg icons from images to inline svgs, but it doesn't appear to be catching them. After following the steps it still leaves the svg icons as images.

Example Usage (home.js):
[code]

Webpack Config (webpack.common.js):

[code]

I also use the file loader to catch svg images if that makes a difference.

[2017-12-12 10:14] odiumediae commented on #3
Hi, @Rheisen, I'm currently having the same problem. Did you maybe happen to find a solution, yet?

[2017-12-12 19:59] Rheisen commented on #3
@odiumediae Not yet unfortunately - I haven't given up though, I think it may have something to do with either the order in which things are getting bundled or the path to the file being changed by the file loader. If you figure anything out please let me know though.

[2017-12-14 09:23] odiumediae commented on #3
@Rheisen Yeah, I think that's most likely the source of the problem, but I can't put my finger on it.

For me, the plugin inserts a hash-named new SVG file directly in the build folder and replaces the img's `src` attribute with it's path. That still works, but it's neither what I want nor what the plugin is supposed to do. The wird part is, that I get an error telling me it can't find the SVG fil

[2018-01-10 17:26] theGC commented on #3
Hey, it'll likely be an issue with the method used to locate images on disk:

https://github.com/theGC/html-webpack-inline-svg-plugin/blob/19628536bcfd75fe06ca50f1a737153660e3abd5/index.js#L259

It's the one part I wasn't too happy with when I built the plugin as it doesn't account for the way Webpack resolves paths.

@Rheisen I'm assuming your issue is due to the use of a path relative to home.js

[2018-01-10 17:32] theGC commented on #3
Just looking at this again you'll definitely hit errors if you change this path as your importing it!

@Rheisen can you use:

`<img inline src="../../assets/linea/_basic/_SVG/basic_notebook_pencil.svg" className={'icon icon-notebook'} />`

If so can you make the above path relative to package.json and see if that works?

[2018-01-26 13:27] javipuche opened #4 "Use alias"
webpack.config.js

[code]
My html

[code]
Can't I use alias?

[2018-01-29 12:31] theGC commented on #4
not at the moment - they'd need to be paths relative to your package.json file

I'm certainly not a fan of this - just when building the module it wasn't really an issue for me. However, the issues yourself and others have are now all related to this so I'd like to get it sorted. Any help (PR) would be much appreciated, otherwise I'll see if I can look into once work is a little quieter.

[2018-01-30 00:35] theGC commented on #4
@javipuche just pushed v1 which supports the use of aliases and relative paths. #

[2018-01-30 00:35] #4 closed

[2018-01-30 00:38] theGC commented on #3
v1 supports the use of relative and aliased paths, I haven't tested it with React components but it should sort this issue.

I'll close for now but please let me know if this isn't the case.

[2018-01-30 00:38] #3 closed

[2018-01-30 07:04] javipuche commented on #4
Thanks!!!!

[2018-01-30 07:27] theGC commented on #3
looking at this again I seem to missed the point of what you were doing! my bad ...

Unless you are rendering the output of your React components to an html template **before** html-webpack-plugin is passed them then this plugin will have no effect on the components SVGs as it won't ever see them. Therefore perhaps this plugin is of use to you in an SSR environment but not for standard components.

[2018-01-31 17:03] jameswragg commented on #4
I have an svg in `node_modules` I'm trying to inline but it's not working. Trying ../ as well as an alias, e.g.

./webpack.config.js
[code]

[code]

I get this in my webpack build logs:
[code]

Am I not able to step up out of the ./src dir anymore?

[2018-01-31 17:14] theGC commented on #4
@jameswragg The plugin works with the files after their location has been resolved by Webpack, so it sounds like: `~nm` isn't being resolved.

If it was I'd expect the plugin to be looking for `sprite.symbol.svg` within your output directory. The fact it is throwing an error with `~nm` in it looks like Webpack hasn't parsed your html.

Do you have any loaders installed to allow Webpack to resolve

[2018-01-31 20:37] theGC commented on #4
@jameswragg I've updated the readme to better explain how you can use the plugin, I'd assume point 2 of Getting to your SVGs is the bit you need to look at: [getting-to-your-svgs](https://github.com/theGC/html-webpack-inline-svg-plugin#getting-to-your-svgs)

[2018-02-06 23:03] httpete opened #5 "Can't get svg from my node_modules folder as I did in 0.2.2"
Hi,

this plugin did exactly what I wanted in 0.2.2. It adds more html-loader configs and things now, was this done for a reason and if so will this old behavior break in the future?

[2018-02-06 23:06] httpete commented on #5
<img inline src="node_modules/@company/components/theme/icons/symbol/svg/sprite.css.svg">
this worked fine, to get the svg from my node_modules folder.

[2018-02-08 07:10] theGC commented on #5
@httpete @skayablars the update was brought on by our own requirements to better resolve relative file paths alongside a couple of issues that raised the question of resolving aliases for other users. Apologies for the breaking changes, I did try and detail what might happen in the readme but it's probably not that clear. I'll have another look at it.

You should still be able to use the module th

[2018-02-08 15:20] skayablars opened #6 "Can't inline svg with loader, referencing to root folder of os"
##### Specs:
Machine:  Windows
Environment: http://localhost:8080
Loaders: file-loader
Plugin Version: 1.0.3

##### Project Structure

Root

- config/
- dist/
- node_modules/
- src/
  - css/
  - img/
  - illustrations/
    - blue-main-sent.svg
  - js/
  - templates/
  - test.html
- .babelrc
- .gitignore
- .package-lock.json
- .package.json
- .README.MD

##### Webpack Config
[code]

#### HTML Templ

[2018-02-09 06:21] theGC commented on #5
As I haven't heard anymore I'll assume changing the file paths has worked. Let me know if not

[2018-02-09 06:21] #5 closed

[2018-02-09 06:24] theGC commented on #6
I'm going to close this as supporting absolute paths isn't a requirement for a plugin that replaces the image tags.

[2018-02-09 06:24] #6 closed

[2018-02-09 15:03] httpete commented on #5
This is broken. I tried all variants of ../../ to be relative. It injects "dist" into the path which I don't have. It worked SWEET before.

[2018-02-09 15:26] theGC commented on #5
the plugin itself won't be injecting `dist` into your paths as it just reads them, is the issue instead with **html-loader** grabbing the svg from `node_modules` and putting it into your `dist` directory? If you remove the `inline` part, i.e

`<img src="node_modules/@company/components/theme/icons/symbol/svg/sprite.css.svg">`

can you check if the svg is moved into your `dist` directory and if so

[2018-02-09 15:45] httpete commented on #5
I didn't use html-loader before, and the svg-inline-plugin just worked. I have to use another loader now? I would rather not but ok. (just documenting this here so others see)

[2018-02-09 16:05] theGC commented on #5
sorry crossed wires I think, you shouldn't have to use any loaders - if you aren't then I'd expect the path of the svg to be exactly as you enter it. As you mentioned it having `dist` in it I'd assumed you had a loader parsing the template and resolving the svg path.

Does the path change when you don't add the **inline** attribute to your `img` tag?

[2018-02-09 16:07] theGC commented on #5
to clarify I mean the svg's path within the output templates `img` tag

[2018-02-09 16:08] httpete commented on #5
<img inline src="node_modules/@netapp/nwfjs_theme/icons/symbol/svg/sprite.css.svg">
 merrily works in 0.2.2.

if I upgrade, I get:

processImages hit error
Error: ENOENT: no such file or directory, open 'c:\Users\peters1\bench\project1\dist\node_modules\@netapp\nwfjs_theme\icons\symbol\svg\sprite.css.svg'

Note the "dist" injected there. I tried ../ no difference.

[2018-02-09 16:11] theGC commented on #5
Without seeing your project it'll be tricky to diagnose what's going on here. However, I think it may be possible to add a flag to the plugin that will allow it to process svg's as it did in version < 1.0.

I'll ping back in a bit with an update

[2018-02-09 16:13] httpete commented on #5
It seems that sass-loader uses ~ as a sort of "node_modules" alias, I tried that too. I'd love to be able to just be relative, or use the ~ as a pointer to my root level node_modules. Thanks @theGC

[2018-02-09 17:59] theGC commented on #5
@httpete just pushed v1.1.1 which will allow you to pass an option to the plugin: `runPreEmit: true`

Doing so will revert the plugin back to working as it did prior to v1.0

I've detailed the set up in the readme, let me know if anything isn't clear or if you have any issues. I set up a bunch of tests and they're all passing so fingers crossed it'll just work as before for you.

[2018-02-09 18:04] httpete commented on #5
I have it rigged to go, the second I can get it in my nexus I will try and give you feedback. Big tx!

[2018-02-11 15:38] httpete commented on #5
I can confirm - `new HtmlWebpackInlineSVGPlugin({ runPreEmit: true }) ` works exactly as you say, the 0.2.2 way and works perfectly! Thank you @theGC

[2018-03-03 05:55] wizardnet972 opened #7 "bug on htmlPluginData"
I found a bug.

 In `apply` function: `this.getUserConfig()`,  call without parameters, so `htmlPluginData` get undefined.

[code]

[2018-03-03 06:02] wizardnet972 commented on #7
[PR #8](https://github.com/theGC/html-webpack-inline-svg-plugin/pull/8)

[2018-03-03 07:22] wizardnet972 opened #9 "html-webpack-plugin-after-emit return promise"
error callback undefined.

In "html-webpack-plugin": "^3.0.4"

`html-webpack-plugin-after-emit` is return promise. not callback.

#webpack4

[2018-03-03 08:47] wizardnet972 opened #10 "outputPath is not used right"
outputPath is not used right.

let's say my html is:
[code]
my project folder is that:
[code]

So the problem its goes to dist folder and to fix it I need to set in html:
`<html><body><img inline src="../assets/kiwi.svg"></body></html>`

The outputPath is 'dist' folder.

[2018-03-03 09:33] theGC commented on #7
Hey, as the tests are failing on the PR i'll just add this to the a new release later today

[2018-03-03 10:01] wizardnet972 commented on #7
Thank you!

[2018-03-03 10:01] #7 closed

[2018-03-03 10:22] wizardnet972 commented on #9
@theGC If you can to fix it also in the next version so I can use it in my project I very much appreciate.
just check for callback null, say `callback && callback();` because `html-webpack-plugin-after-emit` is a promise in webpack4.

[2018-03-03 11:25] theGC commented on #9
looks like it might need a bit more work to get the module compliant with the Webpack 4 API - will ping back when I have something

[2018-03-03 11:35] wizardnet972 commented on #9
Okay. If you need I would like to help :)

old webpack:
`    compiler.plugin('compilation', (compilation) => {`
in v4 is:
`    compiler.hooks.thisCompilation.tap('compilation', (compilation) => { `

:)

[2018-03-03 15:07] theGC commented on #9
just pushed v1.2.2 and all seems to be passing. Have tested in both Webpack 3 & 4 and is working nicely.

Haven't updated to use `compiler.hooks.thisCompilation.tap` yet as that seems to be a breaking change which I must admit I'm not too sure how I want to handle as yet...

let me know if all working as expected

[2018-03-03 15:07] #9 closed

[2018-03-03 15:14] theGC commented on #10
this looks like the expected behaviour for the plugin. If you want to reference files from the root of your project you'll need to set **runPreEmit**:

[code]

[#setting-runpreemit-option](https://github.com/theGC/html-webpack-inline-svg-plugin#setting-runpreemit-option)

If you don't set **runPreEmit** then the plugin will grab the `<img>` tags **src** attribute after everything has been saved to

[2018-03-03 15:14] #10 closed

[2018-03-03 19:12] wizardnet972 opened #11 "Callback should be inside processImages then"
Hi, @theGC :)

One more thing if you can change in your plugin.

Please move (callback function)[https://github.com/theGC/html-webpack-inline-svg-plugin/blob/master/index.js#L181] inside (then function)[https://github.com/theGC/html-webpack-inline-svg-plugin/blob/master/index.js#L171].

Why?
Because you change the (html) file. but before you store the html content into array. so until your plugin

[2018-03-03 19:21] theGC commented on #11
would need to set a Promise.all to get this working as `this.files` can contain multiple templates. Will have a quick look

[2018-03-03 19:32] wizardnet972 commented on #11
correct. :)

[2018-03-03 20:01] theGC commented on #11
v1.2.3 now uses Promise.all to ensure the return value is passed when all file updates are complete

[2018-03-03 20:01] #11 closed

[2018-03-10 10:54] mateatslc opened #12 "Are <symbol> elements in SVGs supported?"
I'm using icon sprites with `<symbol>` elements as described here:
https://css-tricks.com/svg-symbol-good-choice-icons/

Traditional SVGs work fine, but when I'm trying to inline such sprites they simply do not show up in the output. Any idea?

[2018-03-10 11:36] theGC commented on #12
That's actually the main reason I created the project as we were using SVGs with symbols and wanted to get them into the output. There isn't a specific test for them though, albeit I use them myself and they work fine.

I'll see if adding one and testing for them throws up any errors.

[2018-03-10 11:47] theGC commented on #12
Just had another look at the jasmine tests and there is actually a test using svg `symbols` and this file:

[https://raw.githubusercontent.com/theGC/html-webpack-inline-svg-plugin/master/spec/fixtures/images/moods.svg](moods.svg)

As this works I can only assume something within your project is causing the issue, not the plugin. If you double check the `<img>` tag has an **inline** attribute and t

[2018-03-10 12:06] mateatslc commented on #12
Looking at the SVG you linked, mine is missing the `<defs>` tag for sure. Will take a closer look...

[2018-03-10 12:32] mateatslc commented on #12
Tracked it down. Looks like `style="display: none;"` on my `<svg>` tags is what derailing it.
Switched to `style="width: 0; height: 0; position: absolute; overflow: hidden;"` and works now.

[2018-03-10 15:24] theGC commented on #12
cool, glad to here you sorted it

[2018-03-10 15:24] #12 closed

[2018-03-22 13:03] fnlctrl opened #13 "Reading generated svgs in-memory from dist instead of src"
Hi, thanks for this awesome plugin!
I'm using [svg-sprite-loader](https://github.com/kisenka/svg-sprite-loader)'s extract mode that generates a `sprite.svg` to dist, which can be accessed at `dist/sprite.svg`.

It works well for production builds. However, when developing using `webpack-dev-server` the `sprite.svg` isn't written to disk, so `<img inline src="./sprite.svg"/>` produces the following

[2018-03-22 13:10] theGC commented on #13
Hey, yeah this is a situation we haven't hit yet. I don't see why we couldn't support this, I'd need to look into how you read these files though as never done it before.

[2018-03-22 13:52] fnlctrl commented on #13
I was digging into svg-sprite-loader's source to find out how it creates the svg files. I found that interestingly it already injects variables to `html-webpack-plugin` since this commit half a year ago: https://github.com/kisenka/svg-sprite-loader/commit/8a2d63e49103c0aa39d2c4269d42fd8f089900ba , which can be directly used to inject svg into html output, but this was never documented....
I've tes

[2018-03-23 07:06] theGC commented on #13
Awesome, thanks for posting back. That added `sprites` param seems a pretty solid way of doing this, I'll add something to the readme for others.

[2018-03-23 07:28] theGC commented on #13
@fnlctrl would you mind posting a sample of how others could use that param to access their SVGs?

[2018-03-23 07:43] fnlctrl commented on #13
Sure. The example can be found at: https://github.com/kisenka/svg-sprite-loader/commit/8a2d63e49103c0aa39d2c4269d42fd8f089900ba#diff-fd88627cc135d43bf60b94c58725d696
[code]

I only have one 'sprite.svg' so it's simply
[code]

[2018-03-23 07:48] theGC commented on #13
so I assume your **img** tag looks something like:

[code]
Is that about right?

[2018-03-23 07:58] theGC commented on #13
sorry - just reread your earlier comment, you don't need this plugin for your use case do you? :)

[2018-03-23 08:15] #13 closed

[2018-03-23 08:15] fnlctrl commented on #13
Yeah... since `htmlWebpackPlugin.files.sprites['sprite.svg']` is already a full svg string we don't actually need to inline it  :joy:

[2018-05-03 22:30] httpete opened #14 "bizarro death with undefined"
I have been using this with the runPreEmit option true for a while. Mysteriously, after a hard clean (some downstream dep must have moved) webpack just dies with a red "undefined". If  I remove this plugin it works fine.

[2018-05-16 14:04] ronjb04 opened #15 "keeping the class assigned"
`<img class="logo-svg" inline src="~img/logo.svg" alt="brand logo">`

Is there a way i can keep the class? so i don't have to re-adjust the css i have set for each svg asset again.

Since my logo and all other svg assets was controlled via its class by css.. however after inlining the svg, the class disappeared and all my svg assets in the website has wrong size or no size at all.

thanks in advan

[2018-06-09 14:01] greenpdx opened #16 "TypeError: Class constructor HtmlWebpackInlineSVGPlugin cannot be invoked without 'new'"
I think this is my fault, but I do not know how to fix it.  I am using @vue/cli version 3. This means my only wekpack configuration changes is using vue.config.js. I have already tried vue-svg-loader. It inline the svg code but it is more like iframe where svg <rect> click events are not generated.

nodejs v9.11.1

[vue.config.js.txt](https://github.com/theGC/html-webpack-inline-svg-plugin/files/2

[2018-06-22 09:30] MethodGrab commented on #14
I encountered this as well.
For me, it was caused by a parse error in my SVG file.
SVGO failed but the error was a string, not an object with a `.message` property which this plugin was expecting. Changing [index.js#L493](https://github.com/theGC/html-webpack-inline-svg-plugin/blob/1.2.4/index.js#L493) to `.catch((err) => console.log(chalk.red(err)))` will show the correct error rather than `undef

[2018-07-10 01:32] guilhermebruzzi opened #17 "Error on Webpack 4.0: DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
Using on `package.json`:

[code]

On `webpack.config.babel.js`:

[code]

Full stacktrace of the error when running `webpack-dev-server --hot`:

[code]

[2018-10-23 11:11] larsdood opened #18 "Changing default SVGO settings"
Hi,

Love your plugin and it's working wonders for the project I'm working on.

I only had one issue that rendered svgs that had more than one class defined in styles look completely awful. After almost two days of trying to fix or work around the problem, I finally found out that inlineStyles takes an object with a prop onlyMatchedOnce that is by default set to true if inlineStyles only gets true

[2018-11-03 12:59] jefvlamings opened #19 "Does not work with webpack-dev-server"
This plugin assumes that images are written to disk. When running webpack-dev-server the assets are not copied to the destination folder and therefor will not be able to be read.

The `fs.readFile` throws an error because it's not finding the image in the destination folder:

[code]

Please note that the plugin is working fine when just building with webpack.

[2018-12-12 21:34] tr1s commented on #19
+1

I'm having the same issue @jefvlamings. It's looking in dist/ which is the problem.

Any ways to fix this? How do we make it look in src when on webpack-dev-server and dist/ when built?

[2019-01-12 18:05] antigens commented on #19
Setting `runPreEmit` to true fixes it for me (refer to [this](https://github.com/theGC/html-webpack-inline-svg-plugin#setting-runpreemit-option))

[code]

Then set your <img> src path relative to your package.json file. e.g,

[code]

so your path will be `<img inline src="src/images/icons.svg">`

[2019-03-28 12:46] raygerrard opened #20 "Plugin could not be registered at 'html-webpack-plugin-after-html-processing'. Hook was not found."
I have tried adding this plugin via @angular-builders/custom-webpack:browser but receive the following error:

Plugin could not be registered at 'html-webpack-plugin-after-html-processing'. Hook was not found.
BREAKING CHANGE: There need to exist a hook at 'this.hooks'. To create a compatibility layer for this hook, hook into 'this._pluginCompat'.
Error: Plugin could not be registered at 'html-web

[2019-03-30 18:50] zmrhaljiri commented on #15
PR for this feature here: https://github.com/theGC/html-webpack-inline-svg-plugin/pull/21, please, take a look.

[2019-04-16 14:28] captbaritone commented on #17
Looks like there is a migration guide here: https://medium.com/webpack/webpack-4-migration-guide-for-plugins-loaders-20a79b927202 Someone will need to upgrade this package to use the new API.

[2019-04-19 18:20] DaSchTour commented on #20
Change the order of Plugins ;)

[2019-05-25 12:12] juanramoncarceles commented on #19
@antesgeist  It is not working even with `runPreEmit: true`.
I have the same project structure and I get this error:
[code]

The only thins is doing is replacing `<img inline src="src/svg-drawings/GROUND-FLOOR.svg">` with `<img inline="" src="GROUND-FLOOR.svg">`

Maybe I have some incompatible webpack.config.js settings?

[2019-11-01 01:00] victorcrbt commented on #19
Does someone manage to fix this?

When I build the project it works fine, but in the Dev Server it's just a regular 'img' tag.

[2019-11-01 02:19] antesgeist commented on #19
@juanramoncarceles Didn't see the notifications for this man, but yeah, it is still working on my previous project.

It might indeed be a Webpack config issue based on your as I see the plugin isn't picking up the correct project path for your SVG.

See below for further instructions if you're still trying to get this working.

--

@victorcrbt

Here's my relative project repo with this SVG plugin

[2019-11-01 21:52] slavafomin commented on #20
Yep, this plugin will not work if initialized before the `HtmlWebpackPlugin`. However, I would suggest to add a more meaningful error message if possible.

[2019-11-01 22:03] slavafomin commented on #19
I'm facing the same issue. I've managed to fix it with `runPreEmit: true`, but I don't like the idea of specifying the path from the project's root directory, such paths look ugly and unintuitive.

[2019-11-02 01:55] antesgeist commented on #19
@slavafomin

I agree it does look verbose if you have to pass the full path, but as mentioned on my previous reply, you can use this plugin without specifying the project root path by letting Webpack handle the path resolution.

Simply configure your SVG loader like this:
[code]

---

Then you use your SVG assets like this:

**template:** src/public/index.html
**SVG folder:** src/public/svg/airbnb

[2019-11-11 19:09] jonvanputten commented on #20
Hey there,

Also having the problem from above, even with the right order. Am I still doing something wrong?

[code]

[2019-11-24 21:20] DRogueRonin commented on #20
Same for me. I got my plugins ordered like this:

[code]

[2019-11-29 10:27] holger-ubivent commented on #20
Which HtmlWebpackPlugin Version was used? I was having the same issue with HtmlWebpackPlugin Version 4.0.0-beta.11, with the Version 3.2.0 it works.

[2020-01-11 16:33] theGC commented on #15
Just updating the version to 1.3.0. Should be live shortly.

[2020-01-11 16:33] #15 closed

[2020-01-16 13:31] zmrhaljiri commented on #20
It would be awesome if the support with HtmlWebpackPlugin version 4+ could be the thing. I'd like to use the HtmlWebpackInlineSvgPlugin in Storybook which uses also version 4 of HtmlWebpackPlugin and so it's failing with the same error.

+1 for the fix, please <3

[2020-01-16 16:40] theGC commented on #20
Am I right in thinking HtmlWebpackPlugin v4 is still in development? If so we can push a PR to a separate branch for users who need it. Unfortunately, I'm a bit stuck for time at the moment so won't be able to look at it myself.

If someone is able to roll a PR I'll push it to a v2 branch so we can maintain support for HtmlWebpackPlugin v3 in v1 ...

[2020-01-16 16:43] #16 closed

[2020-02-08 21:11] dimitarrusev commented on #19
@antesgeist it's still not working, i have to pass the full path either way (with or without applying the changes you suggested).

[2020-03-24 12:37] in-in opened #23 "Does not work with `html-webpack-plugin` 4.0.1"
(node:21898) UnhandledPromiseRejectionWarning: Error: Plugin could not be registered at 'html-webpack-plugin-after-emit'. Hook was not found.
BREAKING CHANGE: There need to exist a hook at 'this.hooks'. To create a compatibility layer for this hook, hook into 'this._pluginCompat'.

[code]

[2020-04-08 21:17] mauriciabad commented on #23
I have the same issue.

I just installed the plugin, add the requirement line and add it to the plugins array.

[2020-04-24 18:30] leosin commented on #23
+1

[2020-04-24 18:36] leosin commented on #20
Error: Plugin could not be registered at 'html-webpack-plugin-after-html-processing'. Hook was not found.
BREAKING CHANGE: There need to exist a hook at 'this.hooks'. To create a compatibility layer for this hook, hook into 'this._pluginCompat'.

[2020-04-24 22:24] in-in commented on #23
@leosin Please stop doing this +1 crap! There's no information in your message.

If you have the same problem, add :+1:  emoji. This action is much better. This allows maintainers to sort issues by the highest priority, and also prevents meaningless messages.
![201161587766302](https://user-images.githubusercontent.com/8797432/80261533-586bdd80-8693-11ea-971c-7688b28881a9.png)

[2020-04-27 00:48] theGC commented on #17
sorted with v2.x.x

[2020-04-27 00:48] #17 closed

[2020-04-27 00:48] theGC commented on #23
sorted with v2.x.x

[2020-04-27 00:48] #23 closed

[2020-04-27 00:49] theGC commented on #20
sorted with v2.x.x

[2020-04-27 00:49] #20 closed

[2020-04-27 00:53] theGC commented on #19
hey all, if anyone has a better method than the `runPreEmit` option then it would be great to integrate it. It was something I never needed but was asked to look into, as such it was rolled up quite quickly and probably isn't the best way of doing this but I don't know of another.

I'll close this for now, but if someone is able to push a PR with a better alternative that would be awesome.

[2020-04-27 00:53] #19 closed

[2020-04-27 00:55] theGC commented on #18
I haven't had a chance to look into this so closing for now but if anyone else finds this issue and agrees please push a PR with the required update.

[2020-04-27 00:55] #18 closed

[2020-04-27 00:59] theGC commented on #14
updated in v2.0.0 - @MethodGrab thanks for the fix

[2020-04-27 00:59] #14 closed

[2020-05-05 19:18] mauriciabad opened #26 "<img> attributes missing in <svg>"
Hi I found this bug and a workaround.

### Not working example
Missing class attribute:
[code]

### Working example
Class attribute ok:
[code]

Notice that the position of `class="small"` affects the result.

[2020-05-05 19:39] mauriciabad opened #27 "svg styles leaking to other inlined svgs"
Hi, I found this issue: when inlineing svgs with style tags in them, the styles are being applied to other svgs and a lot of colors are replaced.

I found that adding this to the svgo configuration could fix it:
[code]
Source: https://github.com/svg/svgo/issues/296#issuecomment-380224461

But the structure of the [default config](https://github.com/theGC/html-webpack-inline-svg-plugin/blob/master/

[2020-05-21 13:46] AntonioRedondo commented on #26
Hi @mauriciabad, you are missing the symbol `=` on `src"example.svg"`. Could this be the cause for the bug?

[2020-05-21 14:23] mauriciabad commented on #26
Good eye, but no. 😢 It's a mistake I did while writing the example. I tested it with the `=` and it's still not working.

I'll edit the issue to avoid confusion.

[2020-06-09 15:51] davidpelayo opened #28 "Load in dev mode the generated svg sprite from network instead from filesystem"
I'm running into the following issue, when building for development:

- Building my svg sprite using https://github.com/Epimodev/svg-sprite-html-webpack
- Needing to inline the generated svg sprite into my extracted html document of my single page application.

However, this plugin does not allow me to do such process because [it's directly expecting to have the file already created within the fil

[2020-06-09 15:52] davidpelayo commented on #28
Either my previous or simply making it work from network by default when building in development mode.

Happy to provide a Pull Request with the changes I'm describing.

[2020-06-09 16:33] AntonioRedondo commented on #28
Hi @davidpelayo,

If you create a pull request with the changes that would be amazing! Remember to update tests. I'll review the pull request once you open it. Ask me for any doubt you have.

Antonio 🙂

[2020-06-20 07:44] theGC opened #30 "Added NPM deploy to travis.yml"
@AntonioRedondo
Hey pal, just a note that I've added some config to the travis.yml which is auto-publishing to the NPM repo. Seems to be working after a bit of trial and error :)

[2020-06-20 07:50] theGC commented on #30
the latest version: 2.2.6 was pushed to the master branch and published to npm correctly. The config looks for a new tag to be pushed to github, then on a successful build deploys it to pm. Therefore you'll need to `git push --tags` to trigger it.

[2020-06-20 10:31] AntonioRedondo commented on #30
Oh cool. Blessing CI/CD features! ☜(ﾟヮﾟ☜)  Thanks 👍

[2020-06-20 12:43] #30 closed

[2020-06-20 20:38] AntonioRedondo commented on #28
This functionality is available on npm from version 2.2.6 😀 https://www.npmjs.com/package/html-webpack-inline-svg-plugin

[2020-06-20 20:38] #28 closed

[2020-06-20 21:14] AntonioRedondo commented on #30
Hey @theGC, apart from the first option on [`svgo-config.js`](https://github.com/theGC/html-webpack-inline-svg-plugin/blob/master/svgo-config.js), is there any other option that, by default has to be different from the [SVGO defaults](https://github.com/svg/svgo#what-it-can-do)?

I'm thinking of removing any option from `svgo-config.js` that doesn't need to be different from SVGO defaults.

[2020-06-22 12:38] theGC commented on #30
yeah this should be fine

[2020-07-06 17:11] cyocun opened #31 "absolute path resolve"
Hello! Thanks for the great library. I often use svg as inline for animation, so this is very helpful.

Now, I have a problem with my webpack setup and I've fixed it, but I want to pullrequest it.
I've never done a pull request for someone else so I'm not sure how to do it 😂

There are two points.

Now set the `outputPath` as options.
This is important for my directory structure to pass the output

[2020-08-13 19:31] AntonioRedondo commented on #27
Hi @mauriciabad,

I just released v2.3.0 with changes that address your issues:
- Now the custom SVGO configuration for `HtmlWebpackInlineSVGPlugin` follows the same format as SVGO configuration.

[code]
- As you can see on the code above SVGO custom configuration is now set inside `HtmlWebpackInlineSVGPlugin({})` instead of `HtmlWebpackPlugin({})`.
- The SVGO defaults for `HtmlWebpackInlineSVGPlu

[2020-10-23 16:27] v3nt opened #35 "can this create SVG definitions for re-use?"
hello - this looks great.

We are using the same SVG logos on 300 articles which means the same SVG code is inlined 300+ times. Is there a way the plugin can create a single definition of the inlined svg and then the 299 other uses are referenced to it?

thanks.

[2020-10-23 16:42] AntonioRedondo commented on #35
Hi @v3nt,

At the moment that feature isn't implemented in our plugin neither isn't scheduled to happen any time soon.

However what I can suggest is you inline your SVG in a CSS class then apply that class to your 300 `<div>` elements. This can be done with [PostCSS Assets](https://github.com/borodean/postcss-assets) and the function `inline()` in the CSS:
[code]

If you don't use PostCSS in your

[2020-10-29 09:52] v3nt commented on #35
thanks - will try that.

[2020-10-29 09:52] #35 closed

[2020-11-09 11:41] royalrex opened #36 "img tags are not replace in output file"
I want to integrate this plugin in my webpack pipeline, but I just can't get it to replace the img tags.

Webpack 4.44.2
html-loader 1.11.0
html-webpack-inline-svg-plugin 2.3.0
html-webpack-plugin 4.5.0

if I don't include a rule for loading svg's the plugin fails. So I use the file-loader for that.

[code]

I have included the plugin:
[code]
and I can confirm that the plugin is run, it just doesn

[2020-11-23 07:12] AntonioRedondo commented on #36
Hi @royalrex,

You shouldn't need the `file-loader` applied to the SVG extension on your webpack config in order for `html-webpack-inline-svg-plugin` to inline SVGs.

First the basics. Probably you're already doing this right. But just in case:
- Can you make sure you're adding the `inline` attribute to the `<img>` elements you want to inline?
- Or, can you make sure you're using the [`inlineAll`]

[2020-11-23 08:14] royalrex commented on #36
Hi Tony.

I got it working with the ejs file, your clue about "relative .. in output folder" helped. From the docs, I was trying to get the to work with option 2 "Alternatively use loaders". Still I have no luck.

My original project is angularJS (v1.x). I have tried to set up a repro using latest angular, but my knowledge of angular is not strong enough to figure out what might be the issue with

[2020-11-23 21:16] AntonioRedondo commented on #36
Let me understand:

1. You were able to get your SVGs inlined when not using loaders.
2. But you need to use the [url-loader](https://webpack.js.org/loaders/url-loader) because it's already part of your AngularJS project setup and used by CSS files.
3. Then you added the file-loader for SVGs files with absolute paths from the project root, but no SVG is inlined.

I think the reason why your SVGs a

[2021-01-21 21:39] MuhammadSawalhy opened #38 "ENOENT: File not found with `webpack serve`"
When building for production, everything is good, but my SVGs are not inlined when serving with `webpack serve`.

The error:

[code]

[2021-02-23 12:14] idudinov commented on #31
voting this up. I think this plugin should consider `publicPath` for images it should inline. In my case, it's `/`, so output `src` for all assets start with `/assets/...`, to make sure it will work from any route on the site.

not sure if the solution above will work though, but I think I could investigate a bit in this and create a PR if no other workaround is found.

cc @theGC hoping for a help

[2021-06-03 03:43] WCByrne opened #43 "img tag removed but not replaced"
I'm not sure what I'm missing in the readme but something isn't working.

Given the options I thought `runPreEmit` sounded like the easiest way to reference the svg without needing to worry about where the output will end up, especially with Webpack dev server where I'm not even specifying an output path.

For some reason the `<img inline/>` tag is removed but not replaced with the svg.  If I chan

[2021-08-01 23:16] AntonioRedondo commented on #26
I've tried to replicate the reported behaviour on the project tests. But no matter the order of attributes they're always properly mapped correctly to the inlined SVG.

I'm closing this issue. It's however still accessible to anyone who may experience this behaviour.

[2021-08-01 23:16] #26 closed

[2021-08-01 23:17] AntonioRedondo commented on #27
I hope the changes introduced in v2.3.0 fixes the bug.

I'm closing the issue.

[2021-08-01 23:17] #27 closed

[2021-08-02 16:26] AntonioRedondo commented on #31
Hi guys,

I'm trying to understand the requirement you're asking for.

By default, `html-webpack-inline-svg-plugin` will use as root path to retrieve the images the webpack [`output.path`](https://webpack.js.org/configuration/output/#outputpath) variable and will ignore [`output.publicPath`](https://webpack.js.org/configuration/output/#outputpublicpath) (because at bundling time the SVG images wil

[2021-08-02 21:20] AntonioRedondo commented on #36
I hope that you finally made `HtmlWebpackInlineSVGPlugin` working in your project. I'm closing this issue.

[2021-08-02 21:20] #36 closed

[2021-08-02 21:22] AntonioRedondo commented on #36
I just saw that maybe another reason why inlining wasn't working was because your were setting `emitFile` to `false`.

[2021-08-02 21:36] AntonioRedondo commented on #31
Another solution that you could try is by using the [`file-loader`](https://v4.webpack.js.org/loaders/file-loader) (webpack v4) or [asset modules](https://webpack.js.org/guides/asset-modules) (webpack v5) in combination with [`runPreEmit`](https://github.com/theGC/html-webpack-inline-svg-plugin#config): https://github.com/theGC/html-webpack-inline-svg-plugin/issues/19#issuecomment-548639977.

[2021-08-02 21:41] AntonioRedondo commented on #38
This is a duplicated of https://github.com/theGC/html-webpack-inline-svg-plugin/issues/19.

Please check https://github.com/theGC/html-webpack-inline-svg-plugin/issues/19#issuecomment-548639977 to make `html-webpack-inline-svg-plugin` working with `webpack-dev-server`.

[2021-08-02 21:41] #38 closed

[2021-08-02 21:49] AntonioRedondo commented on #43
`html-webpack-inline-svg-plugin` doesn't work with the webpack-dev-server unless you use the `runPreEmit` option: https://github.com/theGC/html-webpack-inline-svg-plugin/issues/19#issuecomment-548639977.

Are you using the webpack's [`output.publicPath`](https://webpack.js.org/configuration/output/#outputpublicpath) variable? If so this could be the reason of the issue.

[2021-08-05 11:15] AntonioRedondo commented on #19
All this confusion with `webpack-dev-server` and inlined SVGs comes because of the fact in the former documentation it wasn't clear what were the correct paths depending whether loaders were used or not.

Now [the documentation](https://github.com/theGC/html-webpack-inline-svg-plugin#paths-to-svg-files) has been refactored and it better reflects the three ways SVG files can be referenced:
- Relati

[2021-08-05 11:33] AntonioRedondo commented on #43
If you are using the `runPreEmit` option then make sure SVG files are referenced from the project ROOT and loaders are not involved. If you want them to work with the `webpack-dev-server` the SVG files must not be stored in the output directory.

Check the new documentation where all this is explained in a clearer way: https://github.com/theGC/html-webpack-inline-svg-plugin#paths-to-svg-files

I'm

[2021-08-05 11:33] #43 closed

[2021-10-28 13:42] claudep opened #44 "axios 0.19.2 has security vulnerability"
npm WARN deprecated axios@0.19.2: Critical security vulnerability fixed in v0.21.1. For more information, see https://github.com/axios/axios/pull/3410

[2022-01-12 23:05] luisfalconmx commented on #44
Apparently the project is abandoned, as an update has not been done in quite some time.

In my case to solve the problem of converting the `<img src="my-icon.svg" />` tag to `<svg> ... </svg>` in React use this package [react-svg](https://www.npmjs.com/package/react-svg).

I would have liked to find a webpack plugin that is constantly being updated, both in functionality and in security patches to

[2022-01-12 23:10] AntonioRedondo commented on #44
The project isn't dead. It's just the development of it is slow-cooked. 😁

This project only works with [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin) and HTML templates. It doesn't work with JavaScript frameworks like React, Vue or Angular.